# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
media/Desktop - 4.jpg
media/favicon.ico
media/IMG_3235.JPG
media/Screenshot 2024-06-03 172239.png
media/Screenshot 2024-06-03 172451.png
media/