
/*opening Grid*/
#hero { 
  max-width: 1800px;
  width: 100%;
  height: 750px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--clr-cream);
}

.opening {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  
  
  height: 100%;
  text-align: center;
  width: 100%;

}

/*Portrait box--Box-1*/
.box-1 {
  grid-area: 1 / 1 / 3 / 3;
}
.portrait {
  height: 100%;
  width: 100%;
  
}
.port-img{
  object-fit: cover;
  height: 100%;
  display: block;
  float: right;
}

/*box2 --Hello*/
.box-2 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: var(--clr-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  padding: 20px;
  color: var(--clr-cream);
}

.text-container h1 {
  text-align: start;
  padding-bottom: 10px;
}

.intro {
  font-size: 1.5rem;
}

/*box3// Software + Skills*/
.box-3 {
  grid-area: 1 / 4 / 2 / 5;
  background-color: var(--clr-liBlu);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-3 div {
  color: var(--clr-red);
}

.box-3 h1 {
  color: var(--clr-blue);
}

.box-3 .text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul {
  margin: 5px;
  word-wrap: normal;
}

.skil-list {
  font-size: 1.2rem;
}

.col1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  text-align: left;
  column-gap: 25px;
}






@media only screen and (min-width: 1201px){}
@media only screen and (max-width: 1200px){}
@media only screen and (max-width: 1024px){
  #hero { 
    height: 750px;
  }

  .intro {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px){
 
  #hero { 
    height: 1050px;
  }
  .opening {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .box-1 { 
    grid-area: 1 / 1 / 3 / 3;
    
  }
  .portrait {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .port-img{
    
    object-fit: cover;
    width: 100%;
    
       
  }
  .box-2 { 
    grid-area: 3 / 1 / 5 / 2; 
  }
  .intro {
    font-size: 1.3rem;
  }
  .box-3 { 
    grid-area: 3 / 2 / 5 / 3; 
  }
 
}

@media only screen and (max-width: 548px){
  #hero { 
    height: 1050px;
    width: 100dvw;
  }
  .intro {
    font-size: 1.3rem;
  }
  .skil-list {
    font-size: 1.1rem;
  }
  
}


@media only screen and (max-width: 480px){
  .opening {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .box-1 { grid-area: 1 / 1 / 2 / 2; }
  .box-2 { grid-area: 2 / 1 / 3 / 2; }
  .box-3 { grid-area: 3 / 1 / 4 / 2; }

  .portrait {
    height: 100%;
    width: 100%;
  }

  .port-img {
    
  }
  .intro {
    font-size: 1rem;
  }
  .skil-list {
    font-size: 1rem;
  }
 
}

@media only screen and (max-width: 375px){
 
  #hero { 
    height: 950px;
  }
  
  
}

@media only screen and (max-width: 280px){
  
}

