
.project-section {
  height: 700px;
  width: 100dvw;
  
  margin: 0;
  padding: 0;

  background-color: var(--clr-red);
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.flowers {
  content: '';
  height: 100%;
  width: 33dvw;
  background: url('/media/IMG_3233.JPG') right;
  
  background-size: cover;
  
  background-color: #93002F;
  background-blend-mode: overlay;

  transition: all 0.5s ease-in;
}


.examples {
  opacity: 0;
  color: var(--clr-cream);
  height: 100%;

  background-color: rgba(147, 0, 47, 0.555);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease-in;
}

.flowers:hover {
  
  background-image: url('/media/Screenshot\ 2024-06-03\ 172239.png');
  
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  cursor: pointer;
}

.flowers:hover .examples {
  opacity: 100%;
}

.flowers1{
  content: '';
  height: 100%;
  width: 33dvw;
  background: url('/media/IMG_3242.JPG') center;
  
  background-size: cover;
  
  background-color: #93002F;
  background-blend-mode: hard-light;

  transition: all 0.5s ease-in;
}
.flowers1:hover {
  background-color: var(--clr-blue);
  background-image: none;
  cursor: pointer;
}

.flowers2 {
  content: '';
  height: 100%;
  width: 33dvw;
  background: url('/media/IMG_3235.JPG') left;
  
  background-size: cover;
  
  background-color: #93002F;
  background-blend-mode: hard-light;

  transition: all 0.5s ease-in;
}
.flowers2:hover {
  background-color: var(--clr-blue);
  background-image: none;
  cursor: pointer;
}




#final{
  width: 100dvw;
  height: 750px;
  text-align: center;
}

.last-sec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  }
  
  .sec-1 { 
    grid-area: 1 / 1 / 2 / 2; 
    background-color: #F0DEFF;
    color: #001443;
  }
  
  .sec-2 { 
    grid-area: 1 / 2 / 2 / 3;
    background-color: #001443;
    color: #FFE3CC;
  }
  
  .sec-3 { 
    grid-area: 2 / 1 / 3 / 3;
    background-color: #93002F;
    
    background: url('/media/IMG_3242.JPG') center;
  
    background-size: cover;
  
    background-color: #93002F;
    background-blend-mode: hard-light;
  }
  
  .sec-4 { 
    grid-area: 1 / 3 / 3 / 5;
    background-color: #D7E4FF;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .silh{
    position: relative;
    height: 400px;
  }




@media only screen and (max-width: 768px){
  #final {  
    height: 1050px;
  }
  
  
  .last-sec {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    }
    
    .sec-1 { grid-area: 1 / 1 / 2 / 2; }
    .sec-2 { grid-area: 1 / 2 / 2 / 3; }
    .sec-3 { grid-area: 2 / 1 / 3 / 3; }
    .sec-4 { grid-area: 3 / 1 / 5 / 3; }
 
}
@media only screen and (max-width: 548px){
  .project-flowers img {
    height: 600px;
    width: 100%;
  }
}
@media only screen and (max-width: 480px){
  
}

@media only screen and (max-width: 280px){
  
}