footer{
  max-width: 1800px;
  width: 100%;
  height: 250px;
  background-color: var(--clr-cream);
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-foot{
  padding-top: 50px;
}

.foot-logo{
  height: 100px;
}

.go-to-top {
  font-size: 30px;
  
  padding: 10px 20px;
  background-color: var(--clr-red);
  margin-top: 50px;
  border-radius: 50%;
}

.go-to-top i {
  color: var(--clr-cream);
}