footer{
  max-width: 1800px;
  width: 100%;
  height: 250px;
  background-color: var(--clr-cream);
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-foot{
  padding-top: 50px;
}

.foot-logo{
  height: 100px;
}

