/*Top Banner*/
.header{
  width: 100dvw;
  height: 250px;
  margin: 0;
  padding: 0;
  background-color: var(--clr-cream);
  
  display: flex;
  justify-content: center;
}
.logo {
  height: 85%;
  padding-top: 35px;
  
}
.logo-img {
  object-fit: contain;
  height: 100%;
}


/*opening Grid*/
#hero { 
  
  width: 100dvw;
  height: 750px;
  
  background-color: var(--clr-cream);
  /*background-blend-mode: multiply;*/
  
}

.opening {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  
  
  height: 100%;
  text-align: center;
  width: 100%;
}

/*Hello box--Box-1*/
.box-1 {
  grid-area: 1 / 1 / 3 / 3;
}
.portrait {
  height: 100%;
  width: 100%;
  
}
.port-img{
  object-fit: cover;
  height: 100%;
  display: block;
  float: right;
}

/*box2*/
.box-2 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: var(--clr-red);
}


/*box3*/
.box-3 {
  grid-area: 1 / 4 / 2 / 5;
  background-color: var(--clr-liBlu)
}


/*footer

footer{
  height: 400px;
  width: 100vw;
  background-color: #FFE3CC;
  padding: 15px 0px;
  
  display: flex;
  justify-content: center;
  
}

.foot-logo {
  height: 75px;
}

*/

@media only screen and (min-width: 1201px){}
@media only screen and (max-width: 1200px){}
@media only screen and (max-width: 1024px){
  #hero { 
    height: 450px;
  }
}

@media only screen and (max-width: 768px){
  .header{
    
    height: 200px;
  }
  .logo{
    height: 70%;
  }
  #hero { 
    height: 850px;
  }
  .opening {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .box-1 { 
    grid-area: 1 / 1 / 3 / 3;
    
  }
  .portrait {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .port-img{
    
    object-fit: cover;
    height: 100%;
    
       
  }
  .box-2 { 
    grid-area: 3 / 1 / 5 / 2; 
  }
  .box-3 { 
    grid-area: 3 / 2 / 5 / 3; 
  }
 
}

@media only screen and (max-width: 548px){

  
  
}


@media only screen and (max-width: 480px){
  
  .portrait {
    
    height: 100%;
  }
}

@media only screen and (max-width: 375px){
  .header{
    
    height: 150px;
  }
  .logo{
    height: 60%;
  }
  #hero { 
    height: 650px;
  }
  .portrait {
    height: 100%;
  }
  
}

@media only screen and (max-width: 280px){
  
}

