:root {
  --clr-red: #93002F;
  --clr-cream: #FFE3CC;
  --clr-liBlu: #D7E4FF;
  --clr-blue: #001443;
  --clr-pur: #F0DEFF;
}

*{
  margin: 0;
  padding: 0;
  
}

*
*::before,
*::after{
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  

html{
  scroll-behavior: smooth;
  
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--clr-cream);

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
}

h1, h2, h3{
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

p, li, span, a, button{
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

a{
  text-decoration: none;
  
}

img,
picture,
video,
svg {
  
  user-select: none;
}

button{
  font-family: "Lato", sans-serif;
  font-weight: 600;
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}



ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-cream);
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-red);
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-blue);
}






@media only screen and (min-width: 1201px){}
@media only screen and (max-width: 1200px){}
@media only screen and (max-width: 1024px){}

@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 548px){

}
@media only screen and (max-width: 480px){
  
}

@media only screen and (max-width: 280px){

}